{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="" method="POST">
    <table class="table">
        <tr>
            <th>Title</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ post.text | linebreaksbr }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ post.date }}</td>
        </tr>
    </table>
    <p>この投稿を削除します。</p>
    <button type="submit" class="delete_btn">Delete</button>
    {% csrf_token %}
</form>
{% endblock %}